<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.firefrog.help.dao.vo.HelpHotkeywordsVO">
	<resultMap id="HelpHotkeywordsResult" type="com.winterframework.firefrog.help.dao.vo.HelpHotkeywordsVO">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="helpHotkeywordsColumns">
	    <![CDATA[
	        	ID as id,
	        	KEYWORD as keyword,
	        	NO as no,
	        	GMT_CREATED as gmtCreated,
	        	CREATOR as creator,
	        	GMT_MODIFIED as gmtModified,
	        	MODIFIER as modifier
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.winterframework.firefrog.help.dao.vo.HelpHotkeywordsVO" 
			useGeneratedKeys="false" keyProperty="id" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        HELP_HOTKEYWORDS (
	        	ID ,
	        	KEYWORD ,
	        	NO ,
	        	GMT_CREATED ,
	        	CREATOR ,
	        	GMT_MODIFIED ,
	        	MODIFIER 
	        ) VALUES (
	        	#{id,javaType=long,jdbcType=DECIMAL} ,
	        	#{keyword,javaType=string,jdbcType=VARCHAR} ,
	        	#{no,javaType=long,jdbcType=DECIMAL} ,
	        	#{gmtCreated,javaType=object,jdbcType=TIMESTAMP} ,
	        	#{creator,javaType=long,jdbcType=DECIMAL} ,
	        	#{gmtModified,javaType=object,jdbcType=TIMESTAMP} ,
	        	#{modifier,javaType=long,jdbcType=DECIMAL} 
	        )
	    ]]>	
	
		</insert>
	    
		<update id="update" parameterType="com.winterframework.firefrog.help.dao.vo.HelpHotkeywordsVO">
	    <![CDATA[
	        UPDATE HELP_HOTKEYWORDS SET
		        KEYWORD = #{keyword,javaType=string,jdbcType=VARCHAR} ,
		        NO = #{no,javaType=long,jdbcType=DECIMAL} ,
		        GMT_MODIFIED = #{gmtModified,javaType=object,jdbcType=TIMESTAMP} ,
		        MODIFIER = #{modifier,javaType=long,jdbcType=DECIMAL} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
		
		<update id="updateKeyword" parameterType="com.winterframework.firefrog.help.dao.vo.HelpHotkeywordsVO">
	    <![CDATA[
	        UPDATE HELP_HOTKEYWORDS SET
		        KEYWORD = #{keyword,javaType=string,jdbcType=VARCHAR}
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
		
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from HELP_HOTKEYWORDS where
		        ID = #{id} 
	    ]]>
	    </delete>   
	    <select id="getById" parameterType="long" resultMap="HelpHotkeywordsResult" flushCache="false">
			select <include refid="helpHotkeywordsColumns" />
		    <![CDATA[
			    from HELP_HOTKEYWORDS 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="HelpHotkeywordsResult" flushCache="false">
			select <include refid="helpHotkeywordsColumns" />
			    from HELP_HOTKEYWORDS 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
					#{item}	</foreach>					
		</select>
		

	<sql id="helpHotkeywordsDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				and ID = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(keyword)">
				and KEYWORD = #{keyword}
			</if>
	       <if test="@Ognl@isNotEmpty(no)">
				and NO = #{no}
			</if>
	       <if test="@Ognl@isNotEmpty(gmtCreated)">
				and GMT_CREATED = #{gmtCreated}
			</if>
	       <if test="@Ognl@isNotEmpty(creator)">
				and CREATOR = #{creator}
			</if>
	       <if test="@Ognl@isNotEmpty(gmtModified)">
				and GMT_MODIFIED = #{gmtModified}
			</if>
	       <if test="@Ognl@isNotEmpty(modifier)">
				and MODIFIER = #{modifier}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="HelpHotkeywordsResult"  flushCache="false">
    	select <include refid="helpHotkeywordsColumns" />
	    from HELP_HOTKEYWORDS 
		ORDER BY no desc
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from HELP_HOTKEYWORDS 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from HELP_HOTKEYWORDS 
		<include refid="helpHotkeywordsDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="HelpHotkeywordsResult">
    	select <include refid="helpHotkeywordsColumns" />
	    from HELP_HOTKEYWORDS 
		<include refid="helpHotkeywordsDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>
