@charset "UTF-8";

*{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
em{font-style:normal}
ol,ul{list-style:none}
fieldset,img,abbr,acronym{border:0}
input,select{font-family:Microsoft YaHei}
h1,h2,h3,h4,h5,h6{font-size:100%}
body{font:normal 20px/2em Microsoft YaHei,Tahoma,simsun;color:#bbc7e7;margin:0 auto; background: #fff8cc;}
.clearfix{*zoom:1}
.clearfix:after{content:'\20';display:block;height:0;line-height:0;visibility:hidden;clear:both}
a{text-decoration:none; color: #575c69;}
a:hover{text-decoration:none; color: #abc6eb;}
.tc { text-align: center}



.main {
    margin: 0 auto;
    max-width: 720px;
}
.banner {
    width: 100%;
    background: url(banner.jpg) no-repeat center top;
    height: 12.78rem;
    position: relative;
    background-size: 100% auto;
}
.start .tower,
.start .bags,
.start .japanese{
    cursor: url(aim.ico),auto;
}


.tower {
    width: 100%;
    height: 6.10rem;
    position: absolute;
    left: 0;
    top: 3.5rem;
}
.tower .flag {
    background: url(flag.png) no-repeat;
    width: 3.15rem;
    height: 3.56rem;
    position: absolute;
    left: 2.04rem;
    top: -0.59rem;
    display: none;
    background-size: 100% auto;
}
.tower .japanese {
    position: absolute;
    display: none;
    width: 0.8rem;
}
.tower .japanese img {
    width: 100%;
}

.tower .j1 {
    left: 3.24rem;
    top: 1.9rem;
    width: 0.7rem;
}
.tower .j2 {
    left: 4.4rem;
    top: 0.78rem;
}
.tower .j3 {
    left: 0.6rem;
    top: 4.2rem;
    width: 1.8rem;
	z-index: 3;
}
.tower .japanese.dead{
    background: url(dead.png) no-repeat;
    width: 1.55rem;
    height: 1.38rem;
    background-size: 100% auto;
}
.tower .japanese.dead img{
    display:none;
}
.bags {
    background: url(bags.png) no-repeat;
    width: 100%;
    height: 1.85rem;
    position: absolute;
    left: 0;
    top: 7.47rem;
    background-size: 100% auto;
}
.result {
    width: 7rem;
    height: 2.7rem;
    position: absolute;
    left: 0.1rem;
    top: 9.7rem;
}
.result .running {
    position: absolute;
    left: 0;
    top: 0.38rem;
    width: 0.45rem;
}
.result .running img {
    width: 100%;
}
.result .line {
    background: url(line.png) no-repeat;
    width: 0;
    height: 0.6rem;
    position: absolute;
    left: 0.43rem;
    top: 0.41rem;
    background-size: 6.25rem auto;
}
.line .tips {
    background: url(alert.png) no-repeat;
    width: 1.88rem;
    height: 0.63rem;
    position: absolute;
    left: 0;
    top: -0.6rem;
    margin-left: -0.9rem;
    text-align: center;
    font-size: 0.2rem;
    color: #904611;
    line-height: 0.74rem;
    display: none;
    background-size: 100% auto;
}
.result span {
    position: absolute;
    top: 1.78rem;
    width: 1.32rem;
    height: 0.48rem;
    line-height: 0.48rem;
    text-align: center;
    display: block;
    font-size: 0.24rem;
    color: #503f22;
    font-weight: 700;
}
.result .amount {
    left: 0.4rem;
}
.result .scale {
    left: 1.99rem;
}
.result .multiple {
    left: 3.41rem;
}
.result .bonus {
    left: 4.84rem;
    width: 2rem;
    font-size: 0.3rem;
    color: #fec446;
}

.content {
    width: 100%;
}
.content img {
    width: 100%;
}


.mask {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 998;
}
.pop {
    z-index: 999;
    background: url(pop.png);
    width: 5.17rem;
    height: 3.02rem;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -2.58rem;
    margin-top: -1.5rem;
    display: none;
}
.pop h3 {
    text-align: center;
    font-size: 0.36rem;
    color: #ae1900;
    line-height: 0.36rem;
    padding-top: 0.3rem;
}
.pop p {
    text-align: center;
    padding: 0.1rem 0.9rem;
    line-height: 0.3rem;
    font-size: 0.24rem;
    color: #000;
}
.pop .img_multiple {
    display: inline-block;
    *display: inline;
    _zoom: 1;
    background-image: url(multiple.png);
    background-repeat: no-repeat;
    width: 0.8rem;
    height: 0.54rem;
    line-height: 0.54rem;
    vertical-align: bottom;
    background-size: 3.42rem auto;
}
.pop .m1 {
    background-position: -0.98rem 0;
}
.pop .m2 {
    background-position: -1.84rem 0;
}
.pop .m3 {
    background-position: -2.74rem 0;
}
.pop .m4 {
    background-position: 0 0;
}
.pop .result_bonus {
    font-size: 0.3rem;
    color: #ae1900;
    font-weight: 700;
}
.pop p a {
    display: inline-block;
    *display: inline;
    _zoom: 1;
    color: #fff;
    font-size: 0.16rem;
    line-height: 0.16rem;
    padding: 0.15rem 0.5rem;
    border-bottom: 3px solid #fffcc5;
}
.confirm {
    background: #4e0b00;
}
.cancel {
    background: #ada745;
}
.pop .popSuccess,
.pop .popFail {
    display: none;
}
