@charset "utf-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,th,td,em,form,input,select,textarea,button,header,section,aside,footer{margin:0;padding:0;}
ul,li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}

/* common css */
a{	
	text-decoration: none;
}
.seo_txt{
	position: absolute;
	left: -9999em;
	top: -9999em;
	font-size: 0;
	line-height: 0;
	height: 0;
	opacity: 0;
	text-indent: -9999em;
}
.transparent_link{
	background: transparent url(../../../images/activity/prize/transparent.gif) repeat;
	cursor: pointer;
}
.fade_link{
	opacity: 0;
	filter: alpha(opacity=0);
	/*-webkit-transition: opacity .6s ease-in;*/
	   /*-moz-transition: opacity .6s ease-in;*/
		/*-ms-transition: opacity .6s ease-in;*/
		 /*-o-transition: opacity .6s ease-in;*/
			/*transition: opacity .6s ease-in;*/
}
.fade_link:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
.inline_block, .section .buttons a{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
body, input, button, textarea{
	font-size: 12px;
	line-height: 22px;
	font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft Yahei",Arial,sans-serif;
}
body{
	color: #fde7b6;
	background: #0DB0D0;
}
#top{
	width: 100%;
	background: url(../../../images/activity/prize/top_bg.jpg) center top no-repeat;
}

.wrap{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

/*header*/
#header{
	height: 520px;
	background: url(../../../images/activity/prize/top_main_bg.jpg) center top no-repeat;
}
#header h2 {
	position: absolute;
	top: 350px;
	left: 0;
	text-align: center;
	width: 100%;
	font-size: 21px;
	font-weight: normal;
}
#header .tips{
	width: 200px;
	position: absolute;
	right: 47px;
	top: 0;
	font-size: 14px;
	color: #fff8dc;
	text-align: center;
	line-height: 30px;
}
#header .date {
	position: absolute;
	bottom: 5px;
	left: 0;
	text-align: center;
	width: 100%;
	font-size: 20px;
	font-weight: normal;
	line-height: 40px;
	color: #fff;
}

/*sign-in*/
#sign-in{
	height: 350px;
	padding-top: 6px;
	background: url(../../../images/activity/prize/top_main_bg.jpg) center -520px no-repeat;
}
.cycle,
.cycle-box{
	width: 810px;
	height: 190px;
	position: relative;
}
.cycle{
	margin: 0 auto;
}
.cycle-box{
	overflow: hidden;
}
.cycle-box ul{
	overflow: hidden;
	*zoom: 1;
}
.cycle-box li{
	float: left;
	width: 270px;
	height: 100%;
}
.cycle-box li .prize{
	width: 260px;
	height: 190px;
	text-align: center;
	background: url(../../../images/activity/prize/prize_bg.png) left top no-repeat;
	color: #fffea0;
	font-size: 16px;
	margin: 0 auto;
	-webkit-transition: -webkit-transform .6s ease-in;
	   -moz-transition:    -moz-transform .6s ease-in;
		-ms-transition:     -ms-transform .6s ease-in;
		 -o-transition:      -o-transform .6s ease-in;
			transition: 	    transform .6s ease-in;
}
.cycle-box li .normal-prize{
	margin-top: 15px\9;
	-webkit-transform: scale(0.85);  /* Saf3.1+, Chrome */
       -moz-transform: scale(0.85);  /* FF3.5+ */
        -ms-transform: scale(0.85);  /* IE9 */
         -o-transform: scale(0.85);  /* Opera 10.5+ */
            transform: scale(0.85);   /* IE8+ - must be on one line, unfortunately */ 
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.85, M12=0, M21=0, M22=0.85, SizingMethod='auto expand')";

    /* IE6 and 7 */ 
    filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.85,
            M12=0,
            M21=0,
            M22=0.85,
        SizingMethod='auto expand');
}
.cycle-box li .prize .date{
	line-height: 40px;
	font-size: 16px;
}
.cycle-box li .prize .desc{
	font-size: 39px;
}
.cycle-box li .prize .desc strong{
	color: #fff;
	font-size: 65px;
	line-height: 80px;
}
.cycle-box li .prize .button{
	width: 190px;
	height: 55px;
	display: block;
	text-align: center;
	left: 54px;
	margin: 0 auto;
	background-image: url(../../../images/activity/prize/prize_button.png);
	background-repeat: no-repeat;
	background-position: 0 -110px;
	/*text-indent: -9999em;*/
	line-height: 57px;
	text-decoration: none;
	color: #e01e1b;
}
.cycle-box li .prize .comming,
.cycle-box li .prize .expired{
	background-position: 0 -55px;
	cursor: default;
	color: #fff;
}
.cycle-box li .prize .accepted{
	background-position: 0 0;
	cursor: default;
	color: #fffd4e;
}
.cycle-box li .prize .enabled,
.cycle-box li .prize .lottery{
	background-position: 0 -110px;
	cursor: pointer;
	color: #e01e1b;
}
.cycle-box li .prize .enabled:hover,
.cycle-box li .prize .lottery:hover{
	background-position: 0 -165px;
	color: #ff7c7a;
}
.cycle-box li .prize .enabled:active,
.cycle-box li .prize .lottery:active{
	background-position: 0 -220px;
	color: #fd0400;
	line-height: 59px;
}
.cycle-button span{
	position: absolute;
	top: 50%;
	margin-top: -22px;
	width: 40px;
	height: 45px;
	text-indent: -9999em;
	background-image: url(../../../images/activity/prize/prev_next.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.cycle-button .prev{
	background-position: 0 0;
	left: -50px;
}
.cycle-button .prev.disabled{
	background-position: 0 -45px;
	cursor: not-allowed;
}
.cycle-button .next{
	background-position: -40px 0;
	right: -50px;
}
.cycle-button .next.disabled{
	background-position: -40px -45px;
	cursor: not-allowed;
}
.rule{
	position: absolute;
	left: 200px;
	bottom: 14px;
}
.rule li{
	color: #e42317;
	list-style: disc;
	margin-left: 20px;
	font-size: 13px;
	line-height: 24px;
}
#sign-in .rule{
	/*bottom: 30px;*/
}
#content .rule{
	width: 720px;
	bottom: 30px;
}
/* content */
#content{
	width: 100%;
	background: url(../../../images/activity/prize/main_bg.jpg) center top no-repeat;
}
#content .wrap{
	height: 830px;	
}

/*抽奖*/
.lottery-poll{
	position: absolute;
	left: 65px;
	top: 162px;
}
.lotterys .ltry{
	width: 182px;
	height: 122px;
	position: absolute;
	border: 4px solid #f7f06e;
	border-radius: 4px;	
	/*-webkit-transition: border-color .2s ease-in;
	   -moz-transition: border-color .2s ease-in;
		-ms-transition: border-color .2s ease-in;
		 -o-transition: border-color .2s ease-in;
			transition: border-color .2s ease-in;*/
}
.lotterys .ltry-active{
	border-color: #e00300;
}
.ltry1{
	top: 0;
	left: 0;
}
.ltry2{
	top: 0;
	left: 195px;
}
.ltry3{
	top: 0;
	left: 390px;
}
.ltry4{
	top: 135px;
	left: 390px;
}
.ltry5{
	top: 270px;
	left: 390px;
}
.ltry6{
	top: 270px;
	left: 195px;
}
.ltry7{
	top: 270px;
	left: 0px;
}
.ltry8{
	top: 135px;
	left: 0px;
}
.lottery-button{
	width: 190px;
	height: 130px;
	position: absolute;
	left: 195px;
	top: 135px;
	background: url(../../../images/activity/prize/draw_button.png) no-repeat;
	text-indent: -9999em;
	cursor: pointer;
}
.lottery-button:hover{
	background-position: 0 -131px;
}
.lottery-button:active{
	background-position: 0 -262px;
}
.lottery-button.onhandled{
	opacity: .4;
	cursor: default;
	background-position: 0 0;
}

.lottery-board{
	width: 220px;
	height: 156px;
	position: absolute;
	left: 707px;
	top: 152px;
	text-align: center;
}
.lottery-board h3{
	color: #fffe92;
	font-size: 16px;
	line-height: 36px;
}
.lottery-board h3 strong{
	color: #fff;
	padding: 0 4px;
	font-size: 18px;
}
.lottery-board .desc{
	text-align: left;
	padding: 0 10px;
	line-height: 20px;
}
.lottery-board .go-lottery{
	width: 160px;
	height: 40px;
	display: block;
	margin: 8px auto 0;
	text-indent: -9999em;
	background: url(../../../images/activity/prize/go_lottery.png) no-repeat;
}
.lottery-board .check-result{
	color: #fff;
	line-height: 30px;
	cursor: pointer;
	text-decoration: underline;
}

.winner-list{
	position: absolute;
	left: 725px;
	top: 390px;
}
.winner-list li{
	line-height: 24px;
	width: 180px;
}
.winner-list li .name{
	width: 90px;
	text-align: left;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}


#footer{
	padding: 20px 0;
	text-align: center;
	color: #c91b18;
	background-color: #fee8b7;
}
#footer a{
	color: #c91b18;
}
/* overlay_layer */
.overlay_layer{
    width: 470px;
    /*height: 190px;*/
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -185px;
    z-index: 99999;
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft Yahei",Arial,sans-serif;
    border: 4px solid #e01e1b;
    border-radius: 4px;
    /*opacity: 0;
    filter: alpha(opacity=0);*/
    display: none; 
}
*html .overlay_layer{
  position: absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2)+(TBWindowMargin=document.documentElement && document.documentElement.scrollTop||document.body.scrollTop)+'px');
}
.overlay_title{
    line-height: 30px;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #e01e1b;
}
.overlay_title h2{
	font-size: 16px;
	margin: 0;
	text-align: center;
}
.overlay_close{
	width: 30px;
	height: 30px;
	line-height: 26px;
	text-align: center;
	font-size: 30px;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	color: #fff;
	background-color: #b60300;
	border-radius: 15px;
}
.overlay_close:hover{
	background-color: #610100;
}
.overlay_body{
    margin: 10px;
    color: #666;
    font-size: 14px;
    overflow: visible;
}
.overlay_body p{
    margin-bottom: 0px;
    line-height: 22px;
}
.result-table{
	height: 250px;
	overflow-y: auto;
}
.overlay_body table{
	width: 100%;
}
.overlay_body th,
.overlay_body td{
    line-height: 34px;
    text-align: center;
}
.overlay_body th{
	background-color: #ff858f;
	color: #fff;
}
.overlay_body td{
	background-color: rgba(255, 229, 231, .5);
	background-color: #ffe5e7\9;
	color: #e01e1b;
	border-top: 2px solid #fff;
}
.overlay_footer{
	margin: 0 10px;
	padding: 10px 0;
	/*border-top: 1px solid #eee;*/
	text-align: center;
}
.overlay_button{
	width: 92px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	font-weight: bold;
	font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft Yahei",Arial,sans-serif;
	color: #fff;
	background-color: #e01e1b;
	box-shadow: 1px 3px 3px #b50300;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
}
.overlay_footer *{
	vertical-align: middle;
}
.overlay_footer a{
	text-decoration: underline;
	color: #555;
	margin-right: 10px;
	cursor: pointer;
}
/* #overlay_shadow */
#overlay_shadow{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99998;
	background-color: #000;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=60);
	opacity: .6;
	display: none;
}
*html #overlay_shadow{
	position: absolute;
	height: expression(document.documentElement&&document.documentElement.scrollHeight||document.body.scrollHeight+'px');
}

#winner_layer{
	background-image: url(../../../images/activity/prize/winner_layer_bg.jpg);
	background-repeat: no-repeat;
	background-position: center 10px;
	margin-top: -175px;
}
#winner_layer .overlay_title{
	height: 108px;
	background-color: transparent;
}
#winner_layer .overlay_title h2{
	display: none;
}
#winner_layer .overlay_body{
	margin: 0;
}
#winner_layer .prizes{
	height: 150px;
}
#winner_layer .prizes img{
	display: none;
}
#winner_layer .overlay_footer{
	padding-bottom: 30px;
}
