<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.firefrog.game.dao.vo.GameWarnIssueLog">
	<resultMap id="GameWarnIssueLogResult" type="com.winterframework.firefrog.game.dao.vo.GameWarnIssueLog">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="gameWarnIssueLogColumns">
	    <![CDATA[
	        	ID as id,
	        	LOTTERYID as lotteryid,
	        	ISSUE_CODE as issueCode,
	        	decode(LOTTERYID,99112,'/',99306,'/',99113,'/',WEB_ISSUE_CODE) as webIssueCode,
	        	CREATE_TIME as createTime,
	        	DISPOSE_INFO as disposeInfo,
	        	DISPOSE_MEMO as disposeMemo,
	        	DISPOSE_USER as disposeUser,
	        	EVENT as event
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.winterframework.firefrog.game.dao.vo.GameWarnIssueLog" 
			useGeneratedKeys="false" keyProperty="id" 
		 flushCache="true">
		 <selectKey resultType="long" order="BEFORE" keyProperty="id">
			     SELECT SEQ_GAME_WARN_ISSUE_LOG.Nextval from dual
   	    </selectKey>
	    <![CDATA[
	        INSERT INTO
	        GAME_WARN_ISSUE_LOG (
	        	ID ,
	        	LOTTERYID ,
	        	ISSUE_CODE ,
	        	WEB_ISSUE_CODE ,
	        	CREATE_TIME ,
	        	DISPOSE_INFO ,
	        	DISPOSE_MEMO ,
	        	DISPOSE_USER ,
	        	EVENT 
	        ) VALUES (
	        	#{id,javaType=long,jdbcType=DECIMAL} ,
	        	#{lotteryid,javaType=long,jdbcType=DECIMAL} ,
	        	#{issueCode,javaType=long,jdbcType=DECIMAL} ,
	        	#{webIssueCode,javaType=string,jdbcType=VARCHAR} ,
	        	#{createTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{disposeInfo,javaType=string,jdbcType=VARCHAR} ,
	        	#{disposeMemo,javaType=string,jdbcType=VARCHAR} ,
	        	#{disposeUser,javaType=string,jdbcType=VARCHAR} ,
	        	#{event,javaType=string,jdbcType=VARCHAR} 
	        )
	    ]]>	
	
		</insert>
	    
		<update id="update" parameterType="com.winterframework.firefrog.game.dao.vo.GameWarnIssueLog">
	    <![CDATA[
	        UPDATE GAME_WARN_ISSUE_LOG SET
		        LOTTERYID = #{lotteryid,javaType=long,jdbcType=DECIMAL} ,
		        ISSUE_CODE = #{issueCode,javaType=long,jdbcType=DECIMAL} ,
		        WEB_ISSUE_CODE = #{webIssueCode,javaType=string,jdbcType=VARCHAR} ,
		        CREATE_TIME = #{createTime,javaType=date,jdbcType=TIMESTAMP} ,
		        DISPOSE_INFO = #{disposeInfo,javaType=string,jdbcType=VARCHAR} ,
		        DISPOSE_MEMO = #{disposeMemo,javaType=string,jdbcType=VARCHAR} ,
		        DISPOSE_USER = #{disposeUser,javaType=string,jdbcType=VARCHAR} ,
		        EVENT = #{event,javaType=string,jdbcType=VARCHAR} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from GAME_WARN_ISSUE_LOG where
		        ID = #{id} 
	    ]]>
	    </delete>   
	    <select id="getById" parameterType="long" resultMap="GameWarnIssueLogResult" flushCache="false">
			select <include refid="gameWarnIssueLogColumns" />
		    <![CDATA[
			    from GAME_WARN_ISSUE_LOG 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="GameWarnIssueLogResult" flushCache="false">
			select <include refid="gameWarnIssueLogColumns" />
			    from GAME_WARN_ISSUE_LOG 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	

	<sql id="gameWarnIssueLogDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				and ID = #{id}
			</if>
	      <if test="@Ognl@isNotEmpty(lotteryid)">
				and LOTTERYID = #{lotteryid}
			</if>
	       <if test="@Ognl@isNotEmpty(issueCode)">
				and ISSUE_CODE = #{issueCode}
			</if>
	       <if test="@Ognl@isNotEmpty(webIssueCode)">
				and WEB_ISSUE_CODE = #{webIssueCode}
			</if>
	       <if test="@Ognl@isNotEmpty(createTime)">
				and CREATE_TIME = #{createTime}
			</if>
	       <if test="@Ognl@isNotEmpty(disposeInfo)">
				and DISPOSE_INFO = #{disposeInfo}
			</if>
	       <if test="@Ognl@isNotEmpty(disposeMemo)">
				and DISPOSE_MEMO = #{disposeMemo}
			</if>
	       <if test="@Ognl@isNotEmpty(disposeUser)">
				and DISPOSE_USER = #{disposeUser}
			</if>
	       <if test="@Ognl@isNotEmpty(event)">
				and EVENT = #{event}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="GameWarnIssueLogResult"  flushCache="false">
    	select <include refid="gameWarnIssueLogColumns" />
	    from GAME_WARN_ISSUE_LOG 

		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from GAME_WARN_ISSUE_LOG 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from GAME_WARN_ISSUE_LOG 
		<include refid="gameWarnIssueLogDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="GameWarnIssueLogResult">
    	select <include refid="gameWarnIssueLogColumns" />
	    from GAME_WARN_ISSUE_LOG 
		<include refid="gameWarnIssueLogDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	<select id="queryWarnLogByLotteryIssue" parameterType="hashMap" resultMap="GameWarnIssueLogResult">
		select <include refid="gameWarnIssueLogColumns" />
		from GAME_WARN_ISSUE_LOG
		where LOTTERYID = ${lotteryId}
	    and ISSUE_CODE = ${issueCode}
	</select>
	
</mapper>
