<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.firefrog.game.dao.vo.GameTrendJbyl">
	<resultMap id="GameTrendJbylResult"
		type="com.winterframework.firefrog.game.dao.vo.GameTrendJbyl">
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="GameTrendJbylColumns">
	    <![CDATA[
	        	ID as id,
	        	LOTTERYID as lotteryId,
	        	ISSUE_CODE as issueCode,
	        	WEB_ISSUE_CODE as webIssueCode,
	        	TREND_TYPE as trendType,
	        	VALUE as value,
	        	WEB_VALUE as webValue,
	        	CREATE_TIME as createTime,
	        	GAME_SET_CODE as gameSetCode,
	        	BET_METHOD_CODE as betMethodCode,
	        	GAME_GROUP_CODE as gameGroupCode
	    ]]>
	</sql>
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert"
		parameterType="com.winterframework.firefrog.game.dao.vo.GameTrendJbyl"
		useGeneratedKeys="false" keyProperty="id" flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        GAME_TREND_JBYL (
	        	ID ,
	        	LOTTERYID ,
	        	ISSUE_CODE ,
	        	WEB_ISSUE_CODE ,
	        	TREND_TYPE ,
	        	VALUE ,
	        	WEB_VALUE ,
	        	CREATE_TIME ,
	        	GAME_SET_CODE ,
	        	BET_METHOD_CODE ,
	        	GAME_GROUP_CODE 
	        ) VALUES (
	        	#{id,javaType=long,jdbcType=DECIMAL} ,
	        	#{lotteryId,javaType=long,jdbcType=DECIMAL} ,
	        	#{issueCode,javaType=long,jdbcType=DECIMAL} ,
	        	#{webIssueCode,javaType=string,jdbcType=VARCHAR} ,
	        	#{trendType,javaType=string,jdbcType=VARCHAR} ,
	        	#{value,javaType=string,jdbcType=VARCHAR} ,
	        	#{webValue,javaType=string,jdbcType=VARCHAR} ,
	        	#{createTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{gameSetCode,javaType=long,jdbcType=DECIMAL} ,
	        	#{betMethodCode,javaType=long,jdbcType=DECIMAL} ,
	        	#{gameGroupCode,javaType=long,jdbcType=DECIMAL} 
	        )
	    ]]>

	</insert>

	<update id="update"
		parameterType="com.winterframework.firefrog.game.dao.vo.GameTrendJbyl">
	    <![CDATA[
	        UPDATE GAME_TREND_JBYL SET
		        LOTTERYID = #{lotteryId,javaType=long,jdbcType=DECIMAL} ,
		        ISSUE_CODE = #{issueCode,javaType=long,jdbcType=DECIMAL} ,
		        WEB_ISSUE_CODE = #{webIssueCode,javaType=string,jdbcType=VARCHAR} ,
		        TREND_TYPE = #{trendType,javaType=string,jdbcType=VARCHAR} ,
		        VALUE = #{value,javaType=string,jdbcType=VARCHAR} ,
		        WEB_VALUE = #{webValue,javaType=string,jdbcType=VARCHAR} ,
		        CREATE_TIME = #{createTime,javaType=date,jdbcType=TIMESTAMP} ,
		        GAME_SET_CODE = #{gameSetCode,javaType=long,jdbcType=DECIMAL} ,
		        BET_METHOD_CODE = #{betMethodCode,javaType=long,jdbcType=DECIMAL} ,
		        GAME_GROUP_CODE = #{gameGroupCode,javaType=long,jdbcType=DECIMAL} 
	        WHERE 
		        ID = #{id} 
	    ]]>
	</update>
	<delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from GAME_TREND_JBYL where
		        ID = #{id} 
	    ]]>
	</delete>
	<select id="getById" parameterType="long" resultMap="GameTrendJbylResult"
		flushCache="false">
		select
		<include refid="GameTrendJbylColumns" />
		    <![CDATA[
			    from GAME_TREND_JBYL 
		        where 
		        ID = #{id} 
		    ]]>
	</select>
	<select id="getByIds" parameterType="list" resultMap="GameTrendJbylResult"
		flushCache="false">
		select
		<include refid="GameTrendJbylColumns" />
		from GAME_TREND_JBYL
		where id in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>

	<sql id="GameTrendJbylDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(id)">
				and ID = #{id}
			</if>
			<if test="@Ognl@isNotEmpty(lotteryId)">
				and LOTTERYID = #{lotteryId}
			</if>
			<if test="@Ognl@isNotEmpty(issueCode)">
				and ISSUE_CODE = #{issueCode}
			</if>
			<if test="@Ognl@isNotEmpty(webIssueCode)">
				and WEB_ISSUE_CODE = #{webIssueCode}
			</if>
			<if test="@Ognl@isNotEmpty(trendType)">
				and TREND_TYPE = #{trendType}
			</if>
			<if test="@Ognl@isNotEmpty(value)">
				and VALUE = #{value}
			</if>
			<if test="@Ognl@isNotEmpty(createTime)">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="@Ognl@isNotEmpty(gameSetCode)">
				and GAME_SET_CODE = #{gameSetCode}
			</if>
			<if test="@Ognl@isNotEmpty(betMethodCode)">
				and BET_METHOD_CODE = #{betMethodCode}
			</if>
			<if test="@Ognl@isNotEmpty(gameGroupCode)">
				and GAME_GROUP_CODE = #{gameGroupCode}
			</if>
		</where>
	</sql>

	<select id="getAll" resultMap="GameTrendJbylResult" flushCache="false">
		select
		<include refid="GameTrendJbylColumns" />
		from GAME_TREND_JBYL

		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
	</select>
	<select id="getCount" resultType="long">
		select count(*) from GAME_TREND_JBYL
	</select>
	<select id="getCountByPage" resultType="long">
		select count(*) from GAME_TREND_JBYL
		<include refid="GameTrendJbylDynamicWhere" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="getByPage" resultMap="GameTrendJbylResult">
		select
		<include refid="GameTrendJbylColumns" />
		from GAME_TREND_JBYL
		<include refid="GameTrendJbylDynamicWhere" />
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
	</select>

	<select id="getTrendJbyl" resultMap="GameTrendJbylResult"
		parameterType="hashMap" flushCache="false">
		select
		<include refid="GameTrendJbylColumns" />
		from GAME_TREND_JBYL
		<include refid="GameTrendJbylDynamicWhere" />
        <if test="@Ognl@equals(lotteryId, '99201')">
            and trend_type = 6
        </if>
		<![CDATA[
		and issue_code IN (select *
                        from (select issue_code
                                from GAME_TREND_JBYL
                               where lotteryid = #{lotteryId}
                               and trend_type = 100
                               order by issue_code desc)
                       where rownum <= #{num})
		order by issue_code
		]]>
	</select>
	
</mapper>
