<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.firefrog.game.dao.vo.GameBettypeStatusCheck">
	<resultMap id="GameBettypeStatusCheckResult" type="com.winterframework.firefrog.game.dao.vo.GameBettypeStatusCheck">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="gameBettypeStatusCheckColumns">
	    <![CDATA[
	        	ID as id,
	        	LOTTERYID as lotteryid,
	        	GAME_GROUP_CODE as gameGroupCode,
	        	GAME_SET_CODE as gameSetCode,
	        	BET_METHOD_CODE as betMethodCode,
	        	STATUS as status,
	        	CREATE_TIME as createTime,
	        	UPDATE_TIME as updateTime,
	        	CHECK_STATUS as checkStatus,
	        	THEORY_BONUS as theoryBonus
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.winterframework.firefrog.game.dao.vo.GameBettypeStatusCheck" 
			useGeneratedKeys="false" keyProperty="id" 
		 flushCache="true">
		 <selectKey resultType="long" order="BEFORE" keyProperty="id">
			     SELECT Seq_Game_Bettype_Status_Check.Nextval from dual
   	    </selectKey>
	    <![CDATA[
	        INSERT INTO
	        GAME_BETTYPE_STATUS_CHECK (
	        	ID ,
	        	LOTTERYID ,
	        	GAME_GROUP_CODE ,
	        	GAME_SET_CODE ,
	        	BET_METHOD_CODE ,
	        	STATUS ,
	        	CREATE_TIME ,
	        	UPDATE_TIME ,
	        	CHECK_STATUS ,
	        	THEORY_BONUS 
	        ) VALUES (
	        	#{id,javaType=long,jdbcType=DECIMAL} ,
	        	#{lotteryid,javaType=long,jdbcType=DECIMAL} ,
	        	#{gameGroupCode,javaType=int,jdbcType=DECIMAL} ,
	        	#{gameSetCode,javaType=int,jdbcType=DECIMAL} ,
	        	#{betMethodCode,javaType=int,jdbcType=DECIMAL} ,
	        	#{status,javaType=int,jdbcType=DECIMAL} ,
	        	#{createTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{updateTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{checkStatus,javaType=int,jdbcType=DECIMAL} ,
	        	#{theoryBonus,javaType=long,jdbcType=DECIMAL} 
	        )
	    ]]>	
	
		</insert>
	    
		<update id="update" parameterType="com.winterframework.firefrog.game.dao.vo.GameBettypeStatusCheck">
	    <![CDATA[
	        UPDATE GAME_BETTYPE_STATUS_CHECK SET
		        LOTTERYID = #{lotteryid,javaType=long,jdbcType=DECIMAL} ,
		        GAME_GROUP_CODE = #{gameGroupCode,javaType=int,jdbcType=DECIMAL} ,
		        GAME_SET_CODE = #{gameSetCode,javaType=int,jdbcType=DECIMAL} ,
		        BET_METHOD_CODE = #{betMethodCode,javaType=int,jdbcType=DECIMAL} ,
		        STATUS = #{status,javaType=int,jdbcType=DECIMAL} ,
		        CREATE_TIME = #{createTime,javaType=date,jdbcType=TIMESTAMP} ,
		        UPDATE_TIME = #{updateTime,javaType=date,jdbcType=TIMESTAMP} ,
		        CHECK_STATUS = #{checkStatus,javaType=int,jdbcType=DECIMAL} ,
		        THEORY_BONUS = #{theoryBonus,javaType=long,jdbcType=DECIMAL} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
		
		<update id="updateToPublish" parameterType="hashmap">
		    <![CDATA[
		        update GAME_BETTYPE_STATUS_CHECK set CHECK_STATUS = #{status} 
		        WHERE lotteryid = #{lotteryid} 
		    ]]>
		</update>
		
		<update id="updateToCheck" parameterType="com.winterframework.firefrog.game.dao.vo.GameBettypeStatusCheck">
	    <![CDATA[
	        UPDATE GAME_BETTYPE_STATUS_CHECK SET
		        STATUS = #{status,javaType=INTEGER,jdbcType=DECIMAL} ,
		        CHECK_STATUS = 3 
	        WHERE 
	        	LOTTERYID = #{lotteryid} and
		        GAME_GROUP_CODE = #{gameGroupCode} and
		        GAME_SET_CODE = #{gameSetCode} and
		        BET_METHOD_CODE = #{betMethodCode}
	    ]]>
		</update>
		
		<update id="updateBetttypeStatusCheckToNotPublished" parameterType="long">
			UPDATE GAME_BETTYPE_STATUS_CHECK SET
				CHECK_STATUS = 6
			WHERE
				LOTTERYID = #{lotteryid}
		</update>
		
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from GAME_BETTYPE_STATUS_CHECK where
		        ID = #{id} 
	    ]]>
	    </delete>   
	    <select id="getById" parameterType="long" resultMap="GameBettypeStatusCheckResult" flushCache="false">
			select <include refid="gameBettypeStatusCheckColumns" />
		    <![CDATA[
			    from GAME_BETTYPE_STATUS_CHECK 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		
		<select id="getAllByLotteryId" parameterType="long" resultMap="GameBettypeStatusCheckResult" flushCache="false">
			select <include refid="gameBettypeStatusCheckColumns" />
		    <![CDATA[
			    from GAME_BETTYPE_STATUS_CHECK 
		        where 
		        LOTTERYID = #{lotteryid} 
		    ]]>
		</select>
		
		<select id="getGBSCByMap" parameterType="hashmap" resultMap="GameBettypeStatusCheckResult">
			select <include refid="gameBettypeStatusCheckColumns" />
			<![CDATA[
			    from GAME_BETTYPE_STATUS_CHECK 
		        where 
		        LOTTERYID = #{lotteryid} 
		        and GAME_GROUP_CODE = #{gameGroupCode} 
		        and GAME_SET_CODE = #{gameSetCode} 
		        and BET_METHOD_CODE = #{betMethodCode}
		    ]]>
		</select>
		
		<select id="getByIds" parameterType="list"  resultMap="GameBettypeStatusCheckResult" flushCache="false">
			select <include refid="gameBettypeStatusCheckColumns" />
			    from GAME_BETTYPE_STATUS_CHECK 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	

	<sql id="gameBettypeStatusCheckDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				and ID = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(lotteryid)">
				and LOTTERYID = #{lotteryid}
			</if>
	       <if test="@Ognl@isNotEmpty(gameGroupCode)">
				and GAME_GROUP_CODE = #{gameGroupCode}
			</if>
	       <if test="@Ognl@isNotEmpty(gameSetCode)">
				and GAME_SET_CODE = #{gameSetCode}
			</if>
	       <if test="@Ognl@isNotEmpty(betMethodCode)">
				and BET_METHOD_CODE = #{betMethodCode}
			</if>
	       <if test="@Ognl@isNotEmpty(status)">
				and STATUS = #{status}
			</if>
	       <if test="@Ognl@isNotEmpty(createTime)">
				and CREATE_TIME = #{createTime}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTime)">
				and UPDATE_TIME = #{updateTime}
			</if>
	       <if test="@Ognl@isNotEmpty(checkStatus)">
				and CHECK_STATUS = #{checkStatus}
			</if>
	       <if test="@Ognl@isNotEmpty(theoryBonus)">
				and THEORY_BONUS = #{theoryBonus}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="GameBettypeStatusCheckResult"  flushCache="false">
    	select <include refid="gameBettypeStatusCheckColumns" />
	    from GAME_BETTYPE_STATUS_CHECK 

		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from GAME_BETTYPE_STATUS_CHECK 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from GAME_BETTYPE_STATUS_CHECK 
		<include refid="gameBettypeStatusCheckDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="GameBettypeStatusCheckResult">
    	select <include refid="gameBettypeStatusCheckColumns" />
	    from GAME_BETTYPE_STATUS_CHECK 
		<include refid="gameBettypeStatusCheckDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>
