<ion-view view-title="游戏玩法">
    <div class="bar bar-header bar-stable">
        <a class="button button-icon icon ion-chevron-left" ng-click="goPick()"></a>
        <h1 class="title" ng-click="poptypeshow = !poptypeshow">游戏玩法</h1>
    </div>
    <ion-content class="has-header" overflow-scroll="true" scrollbar-x="false" scrollbar-y="false">
        <h2 class="intro-title">超级2000秒秒彩</h2>
        <p class="intro-p"><strong>销售时间</strong>：24小时，投注以后可以立即开奖。</p>
        <p class="intro-p"><strong>玩法规则</strong>：每期开出一个5位数做为中奖号码，万、千百、十、个位每位号码为0-9。</p>
        <h3 class="intro-red">四星直选</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">复式</td>
                <td>从千位、百位、十位、个位中选择一个4位数号码组成一注，所选号码与开奖号码相同，且顺序一致，即为中奖。如果开奖号码的万位、千位不相同奖金为20,000元，相同奖金为10,000元。</td>
            </tr>
            </tbody>
        </table>



        <h3 class="intro-red">四星组选</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">组选24</td>
                <td>从0-9中任意选择4个号码组成一注，所选号码与开奖号码的千位、百位、十位、个位相同，且顺序不限，即为中奖。如果开奖号码的万位、千位不相同奖金为833元，相同奖金为416元。</td>
            </tr>
            <tr>
                <td>组选12</td>
                <td>选择1个二重号码和2个单号号码组成一注，所选单号号码与开奖号码相同，且所选二重号码在开奖号码中出现了2次，即为中奖。如果开奖号码的万位、千位不相同奖金为1,666元，相同奖金为833元。</td>
            </tr>
            <tr>
                <td>组选6</td>
                <td>选择2个二重号码组成一注，所选的2个二重号码在开奖号码中分别出现了2次，即为中奖。如果开奖号码的万位、千位不相同奖金为3,333元，相同奖金为1,666元。</td>
            </tr>
            <tr>
                <td>组选4</td>
                <td>选择1个三重号码和1个单号号码组成一注，所选单号号码与开奖号码相同，且所选三重号码在开奖号码中出现了3次，即为中奖。如果开奖号码的万位、千位不相同奖金为5,000元，相同奖金为2,500元。</td>
            </tr>
            </tbody>
        </table>


        <h3 class="intro-red">四星不定位</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">一码不定位</td>
                <td>从0-9中至少选择1个号码投注，竞猜开奖号码后四位中包含这个号码，包含即中奖。如果开奖号码的万位、千位不相同奖金为5.8元，相同奖金为2.9元。</td>
            </tr>
            <tr>
                <td>二码不定位</td>
                <td>从0-9中至少选择2个号码投注，竞猜开奖号码后四位中包含这2个号。如果开奖号码的万位、千位不相同奖金为20元，相同奖金为10元。</td>
            </tr>
            </tbody>
        </table>


        <h3 class="intro-red">中三直选</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">直选</td>
                <td>从千位、百位、十位中选择一个3位数号码组成一注，所选号码与开奖号码中3位相同，且顺序一致，即为中奖。如果开奖号码的万位、千位不相同奖金为2,000元，相同奖金为1,000元。</td>
            </tr>
            <tr>
                <td>直选和值</td>
                <td>所选数值等于开奖号码的千位、百位、十位三个数字相加之和，即为中奖。如果开奖号码的万位、千位不相同奖金为2,000元，相同奖金为1,000元。</td>
            </tr>
            <tr>
                <td>直选跨度</td>
                <td>所选数值等于开奖号码的中3位最大与最小数字相减之差，即为中奖。如果开奖号码的万位、千位不相同奖金为2,000元，相同奖金为1,000元。</td>
            </tr>
            </tbody>
        </table>

        <h3 class="intro-red">中三组选</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">组三</td>
                <td>从0-9中选择2个数字组成两注，所选号码与开奖号码的千位、百位、十位相同，且顺序不限，即为中奖。如果开奖号码的万位、千位不相同奖金为666元，相同奖金为333元。</td>
            </tr>
            <tr>
                <td>组六</td>
                <td>从0-9中任意选择3个号码组成一注，所选号码与开奖号码的千位、百位、十位相同，顺序不限，即为中奖。如果开奖号码的万位、千位不相同奖金为333元，相同奖金为166元。</td>
            </tr>
            <tr>
                <td>组选和值(不含豹子号)</td>
                <td>所选数值等于开奖号码千位、百位、十位三个数字相加之和(不含豹子号)，即为中奖。如果开奖号码的万位、千位不相同奖金为666/333元，相同奖金为333/166元。</td>
            </tr>
            <tr>
                <td>组选包胆(不含豹子号)</td>
                <td>从0-9中任意选择1个包胆号码，开奖号码的千位、百位、十位中任意1位与所选包胆号码相同(不含豹子号)，即为中奖。如果开奖号码的万位、千位不相同奖金为666/333元，相同奖金为333/166元。</td>
            </tr>
            <tr>
                <td>混合组选</td>
                <td>手动输入一个3位数号码组成一注(不含豹子号)，开奖号码的千位、百位、十位符合中三组三或组六均为中奖。如果开奖号码的万位、千位不相同奖金为666/333元，相同奖金为333/166元。</td>
            </tr>
            </tbody>
        </table>


        <h3 class="intro-red">中三不定位</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">一码不定位</td>
                <td>从0-9中选择1个号码，每注由1个号码组成，只要开奖号码的千位、百位、十位中包含所选号码，即为中奖。如果开奖号码的万位、千位不相同奖金为7.3元，相同奖金为3.6元。</td>
            </tr>
            <tr>
                <td>二码不定位</td>
                <td>从0-9中选择2个号码，每注由2个不同的号码组成，开奖号码的千位、百位、十位中同时包含所选的2个号码，即为中奖。如果开奖号码的万位、千位不相同奖金为36元，相同奖金为18元。</td>
            </tr>
            </tbody>
        </table>


        <h3 class="intro-red">后三直选</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">直选</td>
                <td>从百位、十位、个位中选择一个3位数号码组成一注，所选号码与开奖号码后3位相同，且顺序一致，即为中奖。如果开奖号码的万位、千位不相同奖金为2,000元，相同奖金为1,000元。</td>
            </tr>
            <tr>
                <td>直选和值</td>
                <td>所选数值等于开奖号码的百位、十位、个位三个数字相加之和，即为中奖。如果开奖号码的万位、千位不相同奖金为2,000元，相同奖金为1,000元。</td>
            </tr>
            <tr>
                <td>直选跨度</td>
                <td>所选数值等于开奖号码的后3位最大与最小数字相减之差，即为中奖。如果开奖号码的万位、千位不相同奖金为2,000元，相同奖金为1,000元。</td>
            </tr>
            </tbody>
        </table>


        <h3 class="intro-red">后三组选</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">组三</td>
                <td>从0-9中选择2个数字组成两注，所选号码与开奖号码的百位、十位、个位相同，且顺序不限，即为中奖。如果开奖号码的万位、千位不相同奖金为666元，相同奖金为333元。</td>
            </tr>
            <tr>
                <td>组六</td>
                <td>从0-9中任意选择3个号码组成一注，所选号码与开奖号码的百位、十位、个位相同，顺序不限，即为中奖。如果开奖号码的万位、千位不相同奖金为333元，相同奖金为166元。</td>
            </tr>
            <tr>
                <td>组选和值(不含豹子号)</td>
                <td>所选数值等于开奖号码百位、十位、个位三个数字相加之和(不含豹子号)，即为中奖。如果开奖号码的万位、千位不相同奖金为666/333元，相同奖金为333/166元。</td>
            </tr>
            <tr>
                <td>组选包胆(不含豹子号)</td>
                <td>从0-9中任意选择1个包胆号码，开奖号码的百位、十位、个位中任意1位与所选包胆号码相同(不含豹子号)，即为中奖。如果开奖号码的万位、千位不相同奖金为666/333元，相同奖金为333/166元。</td>
            </tr>
            <tr>
                <td>混合组选</td>
                <td>手动输入一个3位数号码组成一注(不含豹子号)，开奖号码的百位、十位、个位符合后三组三或组六均为中奖。如果开奖号码的万位、千位不相同奖金为666/333元，相同奖金为333/166元。</td>
            </tr>

            </tbody>
        </table>


        <h3 class="intro-red">后三不定位</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">一码不定位</td>
                <td>从0-9中选择1个号码，每注由1个号码组成，只要开奖号码的百位、十位、个位中包含所选号码，即为中奖。如果开奖号码的万位、千位不相同奖金为7.3元，相同奖金为3.6元。</td>
            </tr>
            <tr>
                <td>二码不定位</td>
                <td>从0-9中选择2个号码，每注由2个不同的号码组成，开奖号码的百位、十位、个位中同时包含所选的2个号码，即为中奖。如果开奖号码的万位、千位不相同奖金为36元，相同奖金为18元。</td>
            </tr>
            </tbody>
        </table>


        <h3 class="intro-red">后二直选</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">直选</td>
                <td>从十位、个位中选择一个2位数号码组成一注，所选号码与开奖号码的十位、个位相同，且顺序一致，即为中奖。如果开奖号码的万位、千位不相同奖金为200元，相同奖金为100元。</td>
            </tr>
            <tr>
                <td>直选和值</td>
                <td>所选数值等于开奖号码的十位、个位二个数字相加之和，即为中奖。如果开奖号码的万位、千位不相同奖金为200元，相同奖金为100元。</td>
            </tr>
            <tr>
                <td>直选跨度</td>
                <td>所选数值等于开奖号码的后2位最大与最小数字相减之差，即为中奖。如果开奖号码的万位、千位不相同奖金为200元，相同奖金为100元。</td>
            </tr>
            </tbody>
        </table>


        <h3 class="intro-red">后二组选</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">组选（复式）</td>
                <td>从0-9中选2个号码组成一注，所选号码与开奖号码的十位、个位相同，顺序不限（不含对子号），即为中奖。如果开奖号码的万位、千位不相同奖金为100元，相同奖金为50元。</td>
            </tr>
            <tr>
                <td>组选和值</td>
                <td>所选数值等于开奖号码的十位、个位二个数字相加之和（不含对子号），即为中奖。如果开奖号码的万位、千位不相同奖金为100元，相同奖金为50元。</td>
            </tr>
            <tr>
                <td>组选包胆</td>
                <td>从0-9中任意选择1个包胆号码，开奖号码的十位、个位中任意1位包含所选的包胆号码相同（不含对子号），即为中奖。如果开奖号码的万位、千位不相同奖金为100元，相同奖金为50元。</td>
            </tr>
            </tbody>
        </table>


        <h3 class="intro-red">一星定位胆</h3>
        <table class="itable">
            <tbody>
            <tr>
                <td width="15%">复式</td>
                <td>从万位、千位、百位、十位、个位任意位置上至少选择1个以上号码，所选号码与相同位置上的开奖号码一致，即为中奖。如果开奖号码的万位、千位不相同奖金为20元，相同奖金为10元。</td>
            </tr>
            </tbody>
        </table>
        <p style="height:20px;"></p>
    </ion-content>
</ion-view>
