@charset "utf-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,th,td,em,form,input,select,textarea,button,header,section,aside,footer{margin:0;padding:0;}
ul,li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}

/*body, input, button, textarea{
	font-size: 12px;
	line-height: 22px;
	font-family: Arial,"Helvetica Neue","Hiragino Sans GB","Microsoft Yahei",sans-serif;
}*/
.wrap{
	width: 100%;
	/*max-width: 640px;*/
	margin: 0 auto;
	position: relative;
}
.wrap .img_place{
	display: block;
	width: 100%;
}
#header .slogan{
	position: absolute;
	left: 10.9%;
	top: 10.38%;
	width: 78.125%;
	height: 38.961039%;
	background: url(../images/slogan.png) no-repeat;
	background-size: contain;
}
#header .button{
	position: absolute;
	left: 17.1875%;
	top: 53.896%;
	width: 65.625%;
	height: 15.584416%;
}
#header .button a{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/button.png) no-repeat;
	text-indent: -9999em;
	background-size: contain;
}
#header .button a:active{
	background-image: url(../images/button_active.png);
}
#header .download-problem{
	position: absolute;
	left: 34.375%;
	top: 74.026%;
	width: 31.25%;
	height: 6.4935%;
	background: rgba(0,0,0,.15);
	border-radius: 50px;
	border: none;
	color: #fff;
}
[data-dpr="1"] .download-problem{
    font-size: 12px;
}
[data-dpr="1.5"] .download-problem{
    font-size: 18px;
}
[data-dpr="2"] .download-problem{
    font-size: 24px;
}
[data-dpr="3"] .download-problem{
    font-size: 36px;
}

#content .cycle-slideshow{
	width: 87.5%;
	height: 34.9727%;
	position: absolute;
	left: 6.25%;
	top: 24.043%;
}
.cycle-slideshow > div{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.cycle-slideshow .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 22.857%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}
.cycle-slideshow .fa_icon{
	background-image: url(../images/icon_f1.png);
}
.cycle-slideshow .fb_icon{
	background-image: url(../images/icon_f2.png);
}
.cycle-slideshow .fc_icon{
	background-image: url(../images/icon_f3.png);
}
.cycle-slideshow .fd_icon{
	background-image: url(../images/icon_f4.png);
}
.cycle-slideshow h2,
.cycle-slideshow p{
	padding-left: 28%;
	color: #a1b8e5;
	line-height: 1.5;
	font-size: 26px;
	padding-right: 4%;
}
.cycle-slideshow h2{
	line-height: 1.8;
	font-size: 40px;
}
[data-dpr="1"] .cycle-slideshow h2{
    font-size: 16px;
}
[data-dpr="1.5"] .cycle-slideshow h2{
    font-size: 30px;
}
[data-dpr="2"] .cycle-slideshow h2{
    font-size: 36px;
}
[data-dpr="3"] .cycle-slideshow h2{
    font-size: 64px;
}

[data-dpr="1"] .cycle-slideshow p{
    font-size: 12px;
}
[data-dpr="1.5"] .cycle-slideshow p{
    font-size: 20px;
}
[data-dpr="2"] .cycle-slideshow p{
    font-size: 22px;
}
[data-dpr="3"] .cycle-slideshow p{
    font-size: 40px;
}
.cycle-pager{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 5%;
	left: 0;
}
.cycle-pager span{
	color: #5c8ae6;
	opacity: .3;
	font-size: 72px;
}
[data-dpr="1"] .cycle-pager span{
    font-size: 24px;
}
[data-dpr="1.5"] .cycle-pager span{
    font-size: 30px;
}
[data-dpr="2"] .cycle-pager span{
    font-size: 50px;
}
[data-dpr="3"] .cycle-pager span{
    font-size: 72px;
}
.cycle-pager .cycle-pager-active{
	opacity: 1;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3)
{
    #content .cycle-slideshow{
        top: 15%;
    }
    .cycle-pager{
    	bottom: 15%;
    }
}

#tips{
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 2%;
	background-color: rgba(31, 37, 51, .98);
	box-shadow: 0px 10px rgba(0, 0, 0, 0.6);
	-webkit-transition: all .6s ease-in;
       -moz-transition: all .6s ease-in;
        -ms-transition: all .6s ease-in;
         -o-transition: all .6s ease-in;
            transition: all .6s ease-in;

    top: -100%;
    opacity: 0;
}
#tips li{
	margin-left: 5%;
	list-style: disc;
	padding: 3% 5% 3% 0;
	line-height: 1.5;
	font-size: 24px;
}
[data-dpr="1"] #tips li{
    font-size: 12px;
}
[data-dpr="1.5"] #tips li{
    font-size: 20px;
}
[data-dpr="2"] #tips li{
    font-size: 24px;
}
[data-dpr="3"] #tips li{
    font-size: 40px;
}
#tips .i-know{
	width: 90%;
	padding: 5% 0;
	margin: 5% auto 0;
	font-size: 32px;
	color: #a1b8e5;
	text-align: center;
	border-top: 1px solid #363d4a;
}
[data-dpr="1"] #tips .i-know{
    font-size: 16px;
}
[data-dpr="1.5"] #tips .i-know{
    font-size: 30px;
}
[data-dpr="2"] #tips .i-know{
    font-size: 36px;
}
[data-dpr="3"] #tips .i-know{
    font-size: 64px;
}

#tips.active{
	opacity: 1;
	top: 0;
}
