@mixin borderrad($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin linear-gradient($color1, $color2) {
  background-color: $color1;
  background-image: linear-gradient(180deg, $color2, $color1);
}

$darkblue: #088;
$super-2000-orange: #fa0;

.clear {
  clear: both;
}

.noborder {
  border: 0;
}

$ssc-bar-header-height: 44px;

.bar.bar-stable {
  height: $ssc-bar-header-height;
  background: url("/img/banner-bg.png") repeat-x;
  border: none;

  h1.title {
    color: #fff;
    font-size: 18px;
    height: $ssc-bar-header-height;
    line-height: $ssc-bar-header-height;
    overflow: visible;
  }
}

.ar-poptype {
  background: #fff;
  border-bottom: 4px solid $darkblue;

  .strategy-select {
    padding-left: 0;
    padding-right: 0;
    background: #fff;

    div.ssc-menu-nav1 {
      height: 35px;
      line-height: 35px;
      border-bottom: 1px solid #e6e6e6;

      a {
        color: #666;
        text-decoration: none;
        margin: 0 10px;
        height: 35px;
        display: inline-block;
        padding: 0 5px;
        border-bottom: 2px solid $darkblue;
      }

      a.chaoji2000 {
        border-bottom: 0;
      }
    }

    #play_type_box {
      height: 40px;
      line-height: 40px;
      width: 137.5%;
      margin-left: 0px;
      background: #fff;

      div.mytitle {
        text-align: center;
        margin: 0;
        border: 0;
        padding: 0;
        width: 12.5%;
        height: 39px;
        line-height: 39px;

        span {
          color: #666;
          text-decoration: none;
          padding: 2px 7px;

        }
        &.active span {
          color: #fff;
          background: $darkblue;
          @include borderrad(12px);
        }
      }
    }

    div.strategy-list {
      padding: 5px 10px;
      font-size: 12px;
      height: auto;

      dl {
        font-size: 12px;
        dt {
          line-height: 25px;
          width: 15%;
          float: left;
          color: $darkblue;
          font-weight: normal;
          text-align: right;
          padding: 0;
        }
        dd {
          line-height: 25px;
          width: 85%;
          float: left;

          span {
            border: 0;
            color: #666;
            margin: 0px 8px;
            padding: 0;
            display: inline-block;
          }
        }
      }
    }

    &.super-2000 {
      div.ssc-menu-nav1 a.putong {
        border-bottom: 0;
      }
      div.ssc-menu-nav1 a.chaoji2000 {
        border-bottom: 2px solid $super-2000-orange;
      }
      div.strategy-list {
        border-bottom-color: $super-2000-orange;
        dl dt {
          color: $super-2000-orange;
        }
      }

      #play_type_box div.mytitle {
        &.active span {
          background-color: $super-2000-orange;
        }
      }
    }

  }
}

.game-history {
  background-image: none;
  height: 30px;
  background-color: #ededed;
  @include box-shadow(0 0 10px 2px #ccc);
  padding:0;
  z-index: 1;

  .history-bar {
    background: #e8e8e8;

    .history-bar-title {
      color: #333;
      background-image: none;
      height: 30px;
      background-color: #e8e8e8;
      @include box-shadow(0 0 10px 2px #ccc);
      padding:0;
      z-index: 1;

      span {
        font-size: 12px;
        line-height: 30px;
        padding: 0 0 0 10px;

        span.timecount {
          color: $darkblue;
        }
      }

      span.ai-random {

        padding: 0 0 0 25px;
        border: 0;
        font-size: 12px;
        color: $darkblue;
        height: 30px;
        position: absolute;
        right: 5px;
        background: url("/img/random.png") no-repeat 0 5px;
      }
    }
    .history-box {
      clear: both;
      z-index: 9999;
      position: absolute;
      height: auto;
      width: 100%;

      table {
        thead {
          tr, tr th {
            background: #d4d4d4;
            color: #666;
            font-size: 14px;
          }
        }

        tbody {
          tr {
            background: #ededed;
            color: #666;
          }
          tr:nth-child(even) {
            background: #e8e8e8;
          }
        }

      }
    }
  }
  .open-button {

    a.viewmore {
      background: #e8e8e8;
      display: block;
      width: 100%;
      height: 30px;
      text-align: right;
      z-index: 82;
      padding: 0 20px;
      color: #46b79f;
      text-decoration: none;
      @include box-shadow(0 0 10px 2px #ccc);
    }

    $open-button-width: 60px;
    span.open-button {
      clear: both;
      display: block;
      width: $open-button-width;
      height: 15px;
      background: #e8e8e8;
      position: absolute;
      z-index: 1;
      left: 50%;
      text-align: center;
      margin-top: 0px;
      margin-left: -$open-button-width / 2;
      @include borderrad(0 0 5px 5px / 0 0 5px 5px);
      @include box-shadow(0 3px 3px 1px #ccc);

      span.icon:before {
        font-size: 12px !important;
        line-height: 12px !important;
        color: #24af88;
      }
    }
  }
}

.number-select-content {
  padding-top: 20px;
  color: #666;

  .list-top {
    border-bottom-color: #ebebeb;
    h3 {
      color: #666;
    }
  }

  ul.ball-list {
    li {
      border-color: #d4d4d4;
      background-color: #ebebeb;
      color: #c1c1c1;

      &.active {
        background-color: #2bbf9d;
        @include box-shadow(none);
        border-color: #2bbf9d;
        color: #fff;
      }
    }
  }

}
span.comfirm {
  padding-top: 5px;
}
.bar.bar-stable.bar-footer {

  div.select-result {
    padding: 0;
    div.result-title, dl.result-money, span.result-plus {
      padding-top: 5px;
    }
    div.result-title {
      height: 63px;
      background-color: #393648;
    }

    dl.result-money {
      height: 63px;
      max-height: 63px;

      dd {
        color: $darkblue;
      }
    }

  }
  div.result-next .result-count {
    background: $darkblue;
  }

  &.active {

    background-color: #393648;

    div.select-result {

      background-color: #fd9009;

      div.result-title {
        background-color: #393649;
        border-right-color: #fd9009;
      }
      dl.result-money {
        border-left-color: #fd9009;

        dd {
          color: #fff;
        }
      }
    }
  }

  .confirm-money dt span {
    color: #fff;
  }
}

.result-box {
  background-color: #f5f5f5;

  .result-list-shadow {
    background-color: #ccc;
    background-image: none;
  }

  span.ar-btn {
    color: $darkblue;
    border-color: $darkblue;
    @include linear-gradient(#d0ecea, #ffffff);
  }

  ul.scheme-list {
    li {
      dl {
        dt {
          color: $darkblue;
        }
      }

      span.scheme-multiple {
        color: #666;

        button {
          font-size: 10px;
          font-weight: bold;
          color: #fff;
          background: $darkblue;
          border: 0;
          padding: 1px 8px;
          margin: 0 5px 0 0;
          @include borderrad(4px);
        }
      }

      span.scheme-delete {
        width: 30px;
      }

      &.super-2000 {
        background: #fffbec;

        div, span, button {
          background: #fffbec;
        }


        span.scheme-multiple {
          button {
            background: $super-2000-orange;
          }
        }

        dl {
          dt{
              color: $super-2000-orange;
            }
          }

      }

      &.submit:before {
        content: '';
      }
    }
  }
}


.select-jjz {
  .item-radio {
    float: left;
    width: 70px;
    display: inline-block;
    margin: 10px;
    @include borderrad(5px);

    .item-content {
      font-size: 24px;
      padding: 15px 0;
      text-align: center;
      color: #555;
      @include linear-gradient(#ececec, #f5f5f5);
    }

    i.radio-icon {
      display: none;
    }

    input:checked + .radio-content .item-content {
      @include linear-gradient(#26b595, #36d4be);
      color:#fff;
    }
  }

}


.popup-container .popup {
  width: 300px;
  @include borderrad(10px);
  background: #fff;

  hr {
    border:0;
    border-bottom:1px solid #eee;
  }
  p {
    text-align: center;
    color: $darkblue;
  }

  div.popup-buttons {
    button {
      height: 34px;
      min-height: 34px;
    }
    button.button-positive {
      padding: 0;
      color: $darkblue;
      border: 1px solid #6ac2b8;
      @include borderrad(3px);
      @include linear-gradient(#d5e9e5, #ebf7f2);
    }
    button.button-default {
      color: #6b6b6b;
      padding:0;
      border: 1px solid #ccc;
      @include linear-gradient(#eaeaea, #f5f5f5);
    }
  }
}

.tips {
  width: 70%;
  height: auto;
  line-height: 20px;
  margin-left: -35%;
  top: 40%;
  right: auto;
  bottom: auto;
  left: 50%;
  padding: 10px 0;
}

.extraOperateShow {
  bottom: 80px;
  .extra-box {
    text-align: center;
    span.op-plus, span.op-minus {
      color: $darkblue;
    }
  }

}

.result-box {
  dl.result-bet-info {
    padding: 10px;

    dt {
      color: #535353;
      float: left;
      display: inline-block;
      line-height: 35px;
      border-top: 1px solid #eaeaea;
      width: 30%;
    }
    dd {
      color: #8f8f8f;
      float: left;
      display: inline-block;
      line-height: 35px;
      border-top: 1px solid #eaeaea;
      width: 70%;
    }
  }

  .result-list {
    clear: both;
  }
}

.bar-foot-submit-finished {
  background: #f2f2f2;
  height: 70px;

  button.button-submit-finished {
    padding: 0;
    color: $darkblue;
    border: 1px solid #6ac2b8;
    @include borderrad(3px);
    @include linear-gradient(#d5e9e5, #ebf7f2);
  }
}

.zhuihao {
  bottom: 49px;
  position: fixed;
  width: 100%;
  text-align: center;
  height:26px;

  input[type=checkbox] {
    width:18px;
    height:18px;
    vertical-align:middle;
  }
  label {
    height: 18px;
    line-height: 18px;
    vertical-align:middle;
  }
}

.ar-popmenu {
  border: 1px solid #2e8c71;
  @include borderrad(0);

  &:before {
    border-color: transparent transparent #2e8c71;
  }
}

.showPlayInfo {
  .popup {
    .popup-head {
      display: none;
    }

    .popup-body {
      text-align: center;
    }
  }
}