<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.firefrog.user.entity.ImGroupUser">
	<resultMap id="result" type="com.winterframework.firefrog.user.entity.ImGroupUser">
		<result column="ID" property="id"/>
		<result column="GROUP_ID" property="groupId"/>
		<result column="USER_ID" property="userId"/>
		<result column="UNREAD_COUNT" property="unreadCount"/>
		<result column="HISTORY_START_TIME" property="historyStartTime"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"/>
		<result column="IS_ACTIVE" property="isActive"/>

	</resultMap>
	<sql id="fields">
		ID,
		GROUP_ID,
		USER_ID,
		UNREAD_COUNT,
		HISTORY_START_TIME,
		CREATE_DATE,
		LAST_UPDATE_DATE,
		IS_ACTIVE
	</sql>


	<sql id="whereCondition">
		<where>
			<if test="targetId != null">
				AND ID = #{targetId}
			</if>
			<if test="targetGroupId != null">
				AND GROUP_ID = #{targetGroupId}
			</if>
			<if test="targetUserId != null">
				AND USER_ID = #{targetUserId}
			</if>
			<if test="targetUnreadCount != null">
				AND UNREAD_COUNT = #{targetUnreadCount}
			</if>
			<if test="targetHistoryStartTimeStart != null">
				AND HISTORY_START_TIME >= #{targetHistoryStartTimeStart}
			</if>
			<if test="targetHistoryStartTimeEnd != null">
			<![CDATA[
				AND HISTORY_START_TIME < #{targetHistoryStartTimeEnd}
			]]>
			</if>
			<if test="targetCreateDateStart != null">
				AND CREATE_DATE >= #{targetCreateDateStart}
			</if>
			<if test="targetCreateDateEnd != null">
			<![CDATA[
				AND CREATE_DATE < #{targetCreateDateEnd}
			]]>
			</if>
			<if test="targetLastUpdateDateStart != null">
				AND LAST_UPDATE_DATE >= #{targetLastUpdateDateStart}
			</if>
			<if test="targetLastUpdateDateEnd != null">
			<![CDATA[
				AND LAST_UPDATE_DATE < #{targetLastUpdateDateEnd}
			]]>
			</if>
			<if test="targetIsActive != null">
				AND IS_ACTIVE = #{targetIsActive}
			</if>
		</where>
	</sql>
	<select id="queryImGroupUsers" resultMap="result" parameterType="com.winterframework.firefrog.user.entity.ImGroupUser">
		SELECT <include refid="fields"/>
				FROM IM_GROUP_USER
		<include refid="whereCondition"/>
	</select>

	<select id="queryImGroupUser" resultMap="result" parameterType="com.winterframework.firefrog.user.entity.ImGroupUser">
		SELECT <include refid="fields"/>
				FROM IM_GROUP_USER
		WHERE GROUP_ID = #{targetGroupId}
		AND USER_ID = #{targetUserId}
	</select>
	
	<select id="queryImGroupUserCount" resultType="Long">
		SELECT COUNT(1) 
				FROM IM_GROUP_USER
		<include refid="whereCondition"/>
	</select>

	<insert id="insertImGroupUser" parameterType="com.winterframework.firefrog.user.entity.ImGroupUser"
		useGeneratedKeys="false" keyProperty="id" flushCache="true">
		<selectKey resultType="long" order="BEFORE" keyProperty="id">
			SELECT SEQ_IM_GROUP_USER_ID.Nextval from dual
		</selectKey>
	        INSERT INTO
	        IM_GROUP_USER (
	        <include refid="fields"/>)
	        VALUES (
	         #{id,javaType=long,jdbcType=DECIMAL},
	         #{groupId,javaType=long,jdbcType=DECIMAL},
	         #{userId,javaType=long,jdbcType=DECIMAL},
	         #{unreadCount,javaType=long,jdbcType=DECIMAL},
	         #{historyStartTime,javaType=object,jdbcType=TIMESTAMP},
	         #{createDate,javaType=object,jdbcType=TIMESTAMP},
	         #{lastUpdateDate,javaType=object,jdbcType=TIMESTAMP},
	         #{isActive,javaType=long,jdbcType=DECIMAL}
	        )
	</insert>
	
	
	<update id="updateImGroupUser">
		UPDATE IM_GROUP_USER
			<set>
				<if test="unreadCount != null">
					UNREAD_COUNT = #{unreadCount},
				</if>
				<if test="historyStartTime != null">
					HISTORY_START_TIME = #{historyStartTime},
				</if>
				<if test="isActive != null">
					IS_ACTIVE = #{isActive},
				</if>
				<if test="lastUpdateDate != null">
					LAST_UPDATE_DATE = #{lastUpdateDate}
				</if>
			</set>
		WHERE 
		GROUP_ID = #{targetGroupId}
		AND USER_ID = #{targetUserId}
	</update>
	
	<update id="updateImGroupUserByUserId">
		UPDATE IM_GROUP_USER
			<set>
				<if test="unreadCount != null">
					UNREAD_COUNT = #{unreadCount},
				</if>
				<if test="historyStartTime != null">
					HISTORY_START_TIME = #{historyStartTime},
				</if>
				<if test="isActive != null">
					IS_ACTIVE = #{isActive},
				</if>
				<if test="lastUpdateDate != null">
					LAST_UPDATE_DATE = #{lastUpdateDate}
				</if>
			</set>
		WHERE USER_ID = #{targetUserId}
	</update>

	
	<update id="addImGroupUserWithoutOwner">
		UPDATE IM_GROUP_USER
			<set>
				<if test="unreadCount != null">
					UNREAD_COUNT = (UNREAD_COUNT + #{unreadCount}),
				</if>
				<if test="lastUpdateDate != null">
					LAST_UPDATE_DATE = #{lastUpdateDate}
				</if>
			</set>
		WHERE 
		GROUP_ID = #{targetGroupId}
		AND USER_ID != #{targetUserId}
	</update>
	
</mapper>
