@charset "utf-8";

.ico-vip{display:inline-block;*display:inline;*zoom:1;width:40px;height:16px;margin-left:5px;background:url(ico-vip.png) no-repeat 0 0;vertical-align:middle;}
.ico-novip{display:inline-block;*display:inline;*zoom:1;width:40px;height:16px;margin-left:5px;background:url(ico-vip.png) no-repeat -50px 0;vertical-align:middle;}

/* ui-safe */
.safe-safe .info .star,
.safe-safe .item i,
.find-select-list i{
background-image:url(ui-safe.png);background-repeat:no-repeat;
}

/** 安全中心 **/
.safe-safe .info {padding:10px;border-bottom:1px dotted #B9B9B9}
.safe-safe .info .star{display:inline-block;*display:inline;*zoom:1;width:114px;height:0px;padding-top:29px;margin-right:100px;overflow:hidden;}
.safe-safe .info .star1 {background-position:0 -300px;}
.safe-safe .info .star2 {background-position:0 -330px;}
.safe-safe .info .star3 {background-position:0 -360px;}
.safe-safe .info .text {display:inline-block;*display:inline;*zoom:1;width:450px;line-height:24px;}
.safe-safe .info .text p a {color:#008ad8;text-decoration:underline}
.safe-safe .item {border:1px solid #E5E5E5;padding:15px 20px;margin:20px 0 0 0;overflow:hidden;}
.safe-safe .item i{display:inline-block;width:50px;height:50px;vertical-align:middle;}
.safe-safe .item .item-info{display:inline-block;*display:inline;*zoom:1;width:460px;margin:0 5px 0 15px;vertical-align:middle;}
.safe-safe .item .item-control{display:inline-block;*display:inline;*zoom:1;width:130px;vertical-align:middle;}
.safe-safe .item .btn{width:92px;margin:4px 0;}
.safe-safe .item:hover {border-color:#008ad8}
.safe-safe .item .type {height:28px;line-height:28px;font-size:14px;font-weight:bold;color:#008ad8}
.safe-safe .item-none:hover {border-color:#F55A59}
.safe-safe .item-none .type {color:#EE4645}
.safe-safe .ico-pwd{background-position:0 0;}
.safe-safe .ico-safecode{background-position:0 -60px;}
.safe-safe .ico-safequestion{background-position:0 -120px;}
.safe-safe .ico-mail{background-position:0 -180px;}
.safe-safe .ico-info{background-position:0 -240px;}
.safe-safe .item-none .ico-safecode{background-position:-60px -60px;}
.safe-safe .item-none .ico-safequestion{background-position:-60px -120px;}
.safe-safe .item-none .ico-mail{background-position:-60px -180px;}
.safe-safe .item-none .ico-info{background-position:-60px -240px;}



/** 设置安全密码 **/
.page-safecode-set .ui-check {display:none;}
.safe-safe-setting .tip {color:#F46E00;}
.safe-safe-setting .tip p {font-weight:bold;height:26px;}
.safe-safe-setting .tip ul {margin:0 0 0 15px}
.safe-safe-setting .tip li { list-style:disc;height:24px;line-height:24px;}
.safe-safe-setting .field {margin:30px 0 0 0} 
.safe-safe-setting .field .type {height:36px;line-height:36px;font-size:14px;font-weight:bold;}
.safe-safe-setting .field .table-from {border:1px dotted #B9B9B9;border-left:0;border-right:0;}
.safe-safe-setting .field .table-from td {padding:15px 0 0 10px}
.safe-safe-setting .field .table-from  .space td {font-size:0;}
.safe-safe-setting .field .table-from2 {border-bottom:0;}



/* safe-set-emil */
.base-step{margin-bottom:40px;border:1px solid #E3E3E3;overflow:hidden;}
.base-step li{float:left;width:242px;height:46px;text-align:center;line-height:46px;font-size:14px;}
.base-step .current{font-weight:700;color:#008ad8;background-color:;}
.help-text{position:absolute;bottom:20px;width:728px;padding-top:14px;border-top:1px dotted #B9B9B9;}
.help-text dt,.help-text dd{height:24px;line-height:24px;}
.help-text dt{font-weight:700;}
.page-email-add .input {color:#999;}
.page-email-add .input-focus {color:#333}
.page-email-add .ui-check {display:none;}
/* prompt */
.prompt{margin-bottom:20px;}


/** 个人资料 **/
.safe-personal {}
.safe-personal .table-form {color:#808080;}
.safe-personal .text-name {font-size:14px;font-weight:bold}
.safe-personal .table-form td {border-bottom:1px dotted #B5B5B5;padding:20px 0 20px 10px;}
.safe-personal .table-form .row-last td {border:0;}
.safe-personal .table-form .row-sex label {padding:0 10px; cursor:pointer;}
.safe-personal .field-QQ .common-input {width:120px} 
.safe-personal .num-blue,.safe-personal .num-red {font-weight:bold;color:#008ad8;}
.safe-personal .num-red {color:#EB0000}
.safe-personal .form-tip {color:#808080;padding:0 10px;display:none}
.safe-personal .form-tip-show {display:inline;padding:0 10px;}
.safe-personal .form-tip-error {color:#F00;display:none;}
.safe-personal .form-tip-email-new {padding:0 10px;display:none}
.safe-personal .form-tip-email-old-value {padding:0 10px;display:none;}
.safe-personal .form-tip a {color:#269F8D; text-decoration:underline;}
.safe-personal .ico-qq {background:url(ico-qq.gif) no-repeat 0 2px;padding:0 0 0 20px;display:inline-block;height:16px;}
.safe-personal .control-add {height:18px;display:inline-block;padding:1px 0 0 24px;background:url(ico-add.gif) no-repeat;margin:0 10px;line-height:18px}


/** 奖金详情 **/
.safe-bonus .item {padding:0 0 0 180px;border-bottom:1px solid #E5E5E5}
.safe-bonus .item:hover {border-color:#CCC;}
.safe-bonus .item li {height:70px;line-height:56px;border-bottom:1px dotted #E5E5E5}
.safe-bonus .item li.last {border:0;}
.safe-bonus .item .num {font-size:18px;color:#F60;display:inline-block;padding:2px 10px;width:30px;font-weight:bold;font-family:Verdana}
.safe-bonus .item-ssc {background:url(ico-bonus-ssc.gif) no-repeat 0 22px}
.safe-bonus .item-11-5 {background:url(ico-bonus-11-5.gif) no-repeat 0 22px}
.safe-bonus .item-p3p5 {background:url(ico-bonus-p3p5.gif) no-repeat 0 22px}
.safe-bonus .item-jn {background:url(ico-bonus-jn.gif) no-repeat 0 22px}
.safe-bonus .item-ssq {background:url(ico-bonus-ssq.gif) no-repeat 0 22px}
.safe-bonus .item-last {border:0;}


/** 修改密码 **/
.safe-password-edit {padding:20px 0 0 0}
.tab-outer {padding:0 60px;}
.tab-title {border-bottom:1px solid #CACACA;padding:0 0 0 140px;}
.tab-title li {float:left;padding:10px 25px;font-size:14px;font-weight:bold;color:#008ad8;border:1px solid #DEDEDE;border-bottom:0;background:#F6F6F6;position:relative;margin:0 10px 0 0;cursor:pointer;}
.tab-title li.current {background:#FFF;top:1px;cursor:default;}
.tab-content {padding:20px 0 0 0}
.tab-content .table-form td {padding:10px 5px;}

.content-password-edit .ui-check {display:none;}
.ui-check-error {display:none;}

/** 设置预留信息 **/
.page-slogan .ui-check {display:none;}


/* find-content */
.find-login-content,.find-reset-content,.find-select-content{position:relative;min-height:320px;_height:320px;padding:50px 0 50px 250px;}
.find-reset-content{padding-left:210px;}
.find-login-content{padding-left:160px;}
.find-reset-content .ui-text{margin-left:44px;}
.find-select-list{width:510px;margin:20px 0;}
.find-select-list li{padding:15px 20px;margin:10px 0;border:1px solid #CACACA;}
.find-select-list li:hover{border-color:#008ad8;}
.find-select-list i{display:inline-block;width:37px;height:37px;background-image: url(ui-safe.png);background-repeat:no-repeat;vertical-align:middle;}
.find-select-list p{display:inline-block;*display:inline;*zoom:1;width:308px;margin:0 10px;vertical-align:middle;}
.find-select-list span{display:inline-block;vertical-align:middle;}
.find-select-list .btn{width:62px;}
.find-select-list .disable{border-color:#E4E4E4;color:#AAA;}
.find-select-list .disable:hover{border-color:#E4E4E4;}
.find-select-list .ico-mail{background-position:0 -400px;}
.find-select-list .ico-safequestion{background-position:0 -440px;}
.find-select-list .ico-safecode{background-position:0 -480px}
.find-select-list .disable .ico-mail{background-position:-40px -400px;}
.find-select-list .disable .ico-safequestion{background-position:-40px -440px;}
.find-select-list .disable .ico-safecode{background-position:-40px -480px;}
.find-select-content input {color:#999;}
.find-select-content .input-focus {color:#333;}


/* appeal-content */
.appeal-content{padding:40px 125px;}
.appeal-content .common-content{border:0 none;}
.appeal-content .ui-select{width:137px;}
.appeal-content .account-name{width:84px;}
.appeal-content .card-number{width:170px;}
.appeal-content .help-text{position:static;}
.impress{display:inline-block;padding:5px;border:1px solid #CECECE;vertical-align:middle;color:#555;}
.impress .close{display:inline-block;width:12px;height:11px;margin-left:4px;background-image:url(../../common/ui-service.png);background-repeat:no-repeat;background-position:-80px -20px;}
.impress:hover{border-color:#009A87;color:#009A87;text-decoration:none;}
.impress:hover .close{background-position:-60px -20px;}

/* set-safeissue */
.set-safeissue .input{width:190px;}
.set-safeissue .ui-select{width:200px;}

/* prompt */
.appeal-prompt{border:1px solid #F8E2B9;padding:10px;background-color:#FFFDEB;color:#F46E00;_zoom:1;}
.appeal-prompt dt{height:24px;line-height:24px;font-weight:700;}
.appeal-prompt dd{padding-left:12px;line-height:24px; background-repeat: no-repeat; background-position:  -156px -468px ;}

.headList {
    overflow: hidden;
    zoom: 1;
    width: 350px;
}
.headList li {
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 28px;
    border: 3px solid #fff;
    cursor: pointer;
}
.headList li img {
    width: 100%;
    height: 100%;
}

.headList .active {
    border-color: #ff0000;
}

.safe-safe .item .btn {
    width: 92px;
    margin: 4px 0;
    border: 2px solid #008ad8;
    background-color: #FAFAFA;
    color: #008ad8;
}
