<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.firefrog.game.dao.vo.GameHelpCheck">
	<resultMap id="GameHelpCheckResult" type="com.winterframework.firefrog.game.dao.vo.GameHelpCheck">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="gameHelpCheckColumns">
	    <![CDATA[
	        	ID as id,
	        	LOTTERYID as lotteryid,
	        	BET_TYPE_CODE as betTypeCode,
	        	GAME_PROMPT_DES as gamePromptDes,
	        	GAME_EXAMPLES_DES as gameExamplesDes,
	        	CRETEAT_TIME as creteatTime,
	        	UPDATE_TIME as updateTime,
	        	CHECK_STATUS as checkStatus
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.winterframework.firefrog.game.dao.vo.GameHelpCheck" 
			useGeneratedKeys="false" keyProperty="id" 
		 flushCache="true">
		 <selectKey resultType="long" order="BEFORE" keyProperty="id">
			SELECT SEQ_GAME_HELP_CHECK.Nextval from dual
		</selectKey>
	    <![CDATA[
	        INSERT INTO
	        GAME_HELP_CHECK (
	        	ID ,
	        	LOTTERYID ,
	        	BET_TYPE_CODE,
	        	GAME_PROMPT_DES ,
	        	GAME_EXAMPLES_DES ,
	        	CRETEAT_TIME ,
	        	UPDATE_TIME ,
	        	CHECK_STATUS 
	        ) VALUES (
	        	#{id,javaType=long,jdbcType=DECIMAL} ,
	        	#{lotteryid,javaType=long,jdbcType=DECIMAL} ,
	        	#{betTypeCode,javaType=string,jdbcType=VARCHAR},
	        	#{gamePromptDes,javaType=string,jdbcType=VARCHAR} ,
	        	#{gameExamplesDes,javaType=string,jdbcType=VARCHAR} ,
	        	#{creteatTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{updateTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{checkStatus,javaType=int,jdbcType=DECIMAL} 
	        )
	    ]]>	
	
		</insert>
	    
		<update id="update" parameterType="com.winterframework.firefrog.game.dao.vo.GameHelpCheck">
	    <![CDATA[
	        UPDATE GAME_HELP_CHECK SET
		        LOTTERYID = #{lotteryid,javaType=long,jdbcType=DECIMAL} ,
		        BET_TYPE_CODE=#{betTypeCode,javaType=string,jdbcType=VARCHAR},
		        GAME_PROMPT_DES = #{gamePromptDes,javaType=string,jdbcType=VARCHAR} ,
		        GAME_EXAMPLES_DES = #{gameExamplesDes,javaType=string,jdbcType=VARCHAR} ,
		        CRETEAT_TIME = #{creteatTime,javaType=date,jdbcType=TIMESTAMP} ,
		        UPDATE_TIME = #{updateTime,javaType=date,jdbcType=TIMESTAMP} ,
		        CHECK_STATUS = #{checkStatus,javaType=int,jdbcType=DECIMAL} 
	        WHERE 
		        ID = #{id} 
	    ]]>
		</update>
		
		<update id="updateToCheck" parameterType="com.winterframework.firefrog.game.dao.vo.GameHelpCheck">
	    <![CDATA[
	        UPDATE GAME_HELP_CHECK SET
		        GAME_PROMPT_DES = #{gamePromptDes,javaType=string,jdbcType=VARCHAR} ,
		        GAME_EXAMPLES_DES = #{gameExamplesDes,javaType=string,jdbcType=VARCHAR} ,
		        CRETEAT_TIME = #{creteatTime,javaType=date,jdbcType=TIMESTAMP} ,
		        CHECK_STATUS = #{checkStatus,javaType=int,jdbcType=DECIMAL} 
	        WHERE 
		        LOTTERYID = #{lotteryid} and
		        BET_TYPE_CODE = #{betTypeCode}
	    ]]>
		</update>
		
		<update id="updateGameHelpStatus" parameterType="hashmap">
			 UPDATE GAME_HELP_CHECK SET
			 	CHECK_STATUS = #{status}
			 WHERE
			 	LOTTERYID = #{lotteryid}
		</update>
		
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from GAME_HELP_CHECK where
		        ID = #{id} 
	    ]]>
	    </delete>   
	    <select id="getById" parameterType="long" resultMap="GameHelpCheckResult" flushCache="false">
			select <include refid="gameHelpCheckColumns" />
		    <![CDATA[
			    from GAME_HELP_CHECK 
		        where 
		        ID = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="GameHelpCheckResult" flushCache="false">
			select <include refid="gameHelpCheckColumns" />
			    from GAME_HELP_CHECK 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
		
		
		<select id="getGameHelpCheckByLotteryId" parameterType="long" resultMap="GameHelpCheckResult">
			select <include refid="gameHelpCheckColumns" />
			    from GAME_HELP_CHECK 
			    where LOTTERYID = #{lotteryid}
			   order by BET_TYPE_CODE
		</select>

	<sql id="gameHelpCheckDynamicWhere">
		<!-- ognl访问静态方法的表达式 为class org.apache.maven.project.MavenProjectmethod(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				and ID = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(lotteryid)">
				and LOTTERYID = #{lotteryid}
			</if>
	       <if test="@Ognl@isNotEmpty(gamePromptDes)">
				and GAME_PROMPT_DES = #{gamePromptDes}
			</if>
	       <if test="@Ognl@isNotEmpty(gameExamplesDes)">
				and GAME_EXAMPLES_DES = #{gameExamplesDes}
			</if>
	       <if test="@Ognl@isNotEmpty(creteatTime)">
				and CRETEAT_TIME = #{creteatTime}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTime)">
				and UPDATE_TIME = #{updateTime}
			</if>
	       <if test="@Ognl@isNotEmpty(checkStatus)">
				and CHECK_STATUS = #{checkStatus}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="GameHelpCheckResult"  flushCache="false">
    	select <include refid="gameHelpCheckColumns" />
	    from GAME_HELP_CHECK 

		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from GAME_HELP_CHECK 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from GAME_HELP_CHECK 
		<include refid="gameHelpCheckDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="GameHelpCheckResult">
    	select <include refid="gameHelpCheckColumns" />
	    from GAME_HELP_CHECK 
		<include refid="gameHelpCheckDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>
