<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<!-- 自动扫描且只扫描@Controller -->
<context:component-scan base-package="com.winterframework.firefrog.*"
	use-default-filters="false">
	<context:include-filter type="annotation"
		expression="org.springframework.stereotype.Controller" />
</context:component-scan>

<bean class="com.winterframework.modules.utils.SpringContextHolder" />
<context:component-scan base-package="com.winterframework.modules.spring.exetend" />
<context:component-scan base-package="com.winterframework.modules.spring.console" />
<aop:aspectj-autoproxy />
<bean id="propertyConfigurer"
	class="com.winterframework.modules.spring.exetend.ExtendedPropertyPlaceholderConfigurer">
	<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	<property name="ignoreResourceNotFound" value="true" />
	<property name="locations">
		<list>
			<value>classpath:/application.properties</value>
			<value>classpath:/db.properties</value>
			<value>classpath:/mail.properties</value>
			<value>classpath:/mq.properties</value>
			<value>classpath:/mownecum.properties</value>
			<value>classpath:/redis.properties</value>
			<value>classpath:/security.properties</value>
			<value>classpath:/file.properties</value>
			<value>classpath:/global-config.properties</value>
			<value>classpath:/key-config.properties</value>
			<value>classpath:/notice.properties</value>
			<value>classpath:/api.properties</value>
			<value>classpath:/pt.properties</value>
			<value>classpath:/super2000.properties</value>
			<value>classpath:/thpay.properties</value>
			<value>classpath:/ecpss.properties</value>
			<value>classpath:/hbpay.properties</value>
			<value>classpath:/worthpay.properties</value>
			<value>classpath:/sppay.properties</value>
			<value>classpath:/ddbpay.properties</value>
			<value>classpath:/wftpay.properties</value>
			<value>classpath:/dinpay.properties</value>
			<value>classpath:/huayinpay.properties</value>
			<value>classpath:/yinbangpay.properties</value>
			<value>classpath:/jinyangpay.properties</value>
		   <!--  <value>file:/usr/local/config/firefrog_api.properties</value>
			<value>file:C:/config/firefrog_api.properties</value> -->
			<value>classpath:/uapiversion.properties</value>
		</list>
	</property>
</bean>

<!-- 转换message为json类型输出 -->
<mvc:annotation-driven>
	<mvc:message-converters>
		<bean
			class="org.springframework.http.converter.json.FirefrogHttpMessageConverter">
			<property name="prettyPrint" value="true" />
		</bean>
	</mvc:message-converters>
</mvc:annotation-driven>

<!-- 拦截器 -->
<mvc:interceptors>
	<!-- 多个拦截器,顺序执行 -->
	<mvc:interceptor>
		<mvc:mapping path="/*" /><!-- 如果不配置或/*,将拦截所有的Controller -->
		<bean
			class="com.winterframework.firefrog.common.interceptor.CommonInterceptor"></bean>
	</mvc:interceptor>
</mvc:interceptors>

<bean
	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix" value="/WEB-INF/views/" />
	<property name="suffix" value=".jsp" />
</bean>
<!-- 将无法mapping到Controller的path交给default servlet handler处理 -->
<mvc:default-servlet-handler />
<!-- 定义无Controller的path<->view直接映射 -->
<mvc:view-controller path="/" view-name="redirect:/task" />

<!-- trad exception -->


<mvc:interceptors>
	<bean id="localeChangeInterceptor"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="lang" />
	</bean>
</mvc:interceptors>
<bean id="localeResolver"
	class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" />

<!-- Unfortunately we have to repeat an instance of this class here because 
	the mvc:message-converters element above does not support <ref/> elements: -->
<bean id="jacksonHttpMessageConverter"
	class="org.springframework.http.converter.json.FirefrogHttpMessageConverter">
	<property name="prettyPrint" value="true" />
</bean>

<bean
	class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
	<property name="order" value="1" />

	<property name="defaultContentType"
		value="#{T(org.springframework.http.MediaType).APPLICATION_JSON}" />

</bean>

<!-- Allow Exceptions to be handled in annotated methods if desired. Otherwise 
	fallback to the 'restExceptionResolver' below: -->
<bean id="annotationMethodHandlerExceptionResolver"
	class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerExceptionResolver">
	<property name="order" value="1" />
</bean>
<bean id="restExceptionResolver"
	class="com.winterframework.spring.web.servlet.handler.RestExceptionHandler">
	<property name="order" value="0" />
	<property name="messageConverters">
		<list>
			<ref bean="jacksonHttpMessageConverter" />
		</list>
	</property>
	<property name="errorResolver">
		<bean
			class="com.winterframework.spring.web.servlet.handler.DefaultRestErrorResolver">
			<property name="localeResolver" ref="localeResolver" />
			<property name="defaultMoreInfoUrl" value="mailto:support@mycompany.com" />
			<property name="exceptionMappingDefinitions">
				<map>
					<!-- 404 -->
					<entry
						key="com.winterframework.firefrog.common.exception.UnknownResourceException"
						value="404,903" />
					<entry
						key="com.winterframework.firefrog.common.exception.ValidExcetion"
						value="404,901" />
					<entry
						key="com.winterframework.firefrog.common.exception.ServerException"
						value="404,902" />
					<entry
						key="com.winterframework.firefrog.user.exception.UserSecurityException"
						value="404,102008" />
					<!-- 500 (catch all): -->
					<entry key="Throwable" value="500,901" />
				</map>
			</property>
		</bean>
	</property>
</bean>

</beans>
 