
.inputOL li input.vcode{
	margin-left: 55px;
    width: 300px;
}

#login_normal_form .inputOL li b{
    background-image: url(icon_right.png);
    visibility:hidden;
}


#login_normal_form{
	display:block;
}

#login_normal_form .inputOL li:last-child{
	display: none;
}
#login{
	display: block;
}
