@charset "UTF-8";

*{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
em{font-style:normal}
ol,ul{list-style:none}
fieldset,img,abbr,acronym{border:0}
input,select{font-family:Microsoft YaHei}
h1,h2,h3,h4,h5,h6{font-size:100%}
body{font:normal 20px/2em Microsoft YaHei,Tahoma,simsun;color:#bbc7e7;margin:0 auto;background: #120e20;}
.clearfix{*zoom:1}
.clearfix:after{content:'\20';display:block;height:0;line-height:0;visibility:hidden;clear:both}
a{text-decoration:none; color: #575c69;}
a:hover{text-decoration:none; color: #abc6eb;}
.tc { text-align: center}


.allBg {
	background: url(../images/bg.jpg) center top no-repeat;
}
.banner {
	background: url(../images/banner.jpg) center top no-repeat;
	position: relative;
	margin: 0 auto;
	width: 1280px;
	height: 616px;
}


.main {
	width: 1280px;
	background: url(../images/main.jpg) center top no-repeat;
	margin: 0 auto;
	height: 1684px;
}
.act {
	position: relative;
	width: 100%;
	height: 540px;
}
.act a {
	display: block;
	width: 241px;
	height: 76px;
	position: absolute;
	background-repeat: no-repeat;
	background-position:  center top;
	text-indent: -999em;
	top: 376px;


}
.act .joinBtn {
	background-image: url(../images/join.png);
	left: 511px;
}
.joinBtn:hover {
	background-position: left bottom;
}
.act .finish {
	background: url(../images/finish.png);
}
.act .moreInfo {
	background-image: url(../images/more.png);
	left: 790px;
}
.moreInfo:hover {
	background-position: left bottom;
}

.alert {
	background-color: #333738;
	background-image: url(../images/alert.png);
	background-repeat: no-repeat;
	background-position: center 10px;
	color: #fff;
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	width: 260px;
	position: fixed;
	z-index: 999;
	left: 50%;
	top: 50%;
	padding: 60px 0px 30px;
	margin-left: -130px;
	margin-top: -100px;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	display: none;
}
.alert p {
	padding: 10px
}

.alert2 {
	background-color: #333738;
	background-image: url(../images/alert.png);
	background-repeat: no-repeat;
	background-position: center 10px;
	color: #fff;
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	width: 260px;
	position: fixed;
	z-index: 999;
	left: 50%;
	top: 50%;
	padding: 60px 0px 30px;
	margin-left: -130px;
	margin-top: -100px;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	display: none;
}
.alert2 p {
	padding: 10px
}
.footer p{
	width: 100%;
	font-size: 12px;
	position: relative;
	color: #606060;
	text-align: center;
}

